{% extends "index.html" %}
{% block topnav %}
<a class="active" href="/userHome/{{username}}">Home</a>
<div class="right">
    <a href="/">Log Out</a>
</div>
{% endblock %}
{% block photo %}
{{ super() }}
{% endblock %}
{% block main_text %}
Welcome {{username}}! Here are the events nearby!
{% endblock %}
{% block intro %}
<style>
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: #73AD21;
        padding: 10px;
        column-gap: 15px;
        grid-row-gap: 15px;
    }
    .gridElement {
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px;
        padding: 20px;
        font-size: 15px;
        text-align: center;
        border-radius: 25px;
        box-shadow: 5px 10px #888888;
        opacity: 0.8;
    }

    .gridElement:hover {
        transform: scale(1.1);
        opacity: 1.0;
    }
</style>
{# event[0] will be the parent key and event[1] is the child. #}
<div class="gridContainer" >
    {% for event in allEvents.items() %}
        <div class="gridElement">
        <h3>{{ event[0] }}</h3>
        <p>Date: {{ event[1]['date'] }}</p>
        <p>Time: {{ event[1]['time'] }}</p>
        <p>Location: {{ event[1]['location'] }}</p>
        <p>Description: {{ event[1]['description'] }}</p>
        <p>Manager: {{ event[1]['manager'] }} </p>
        <p>Number of RSVP's: {{ event[1]['rsvp'] }}</p>
        <br>
        {% if generateEventID(event[0]) not in returnRSVPList(username) %}
        <form action="{{ url_for('rsvpToEvent', username = username, event = event[0]) }}" method="POST">
            <button name = "rsvpButton" type="submit" onclick="alert('Thank you for your RSVP to {{event[0]}}!');">RSVP</button>
        </form>
        {% else %}
        <form action="{{ url_for('cancelRSVP', username = username, event = event[0]) }}" method="POST">
            <h6>RSVP succesful</h6>
            <button name = "cancelButton" type="submit" onclick="alert('Cancelled your RSVP to {{event[0]}}.');">Cancel</button>
        </form>
        {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}